<div class="w-full flex flex-row items-center justify-between">
  <app-header title="Materials Library" icon="category"></app-header>
  <button mat-fab extended [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    Actions
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="./create">
      <mat-icon>add_circle</mat-icon>
      Create Material
    </button>
    <button mat-menu-item (click)="exportAllMaterials()">
      <mat-icon>download</mat-icon>
      Export All Materials
    </button>
    <!-- <button mat-menu-item (click)="fileInput.click()">
      <mat-icon>upload</mat-icon>
      Import Suppliers
    </button>
    <input
      type="file"
      #fileInput
      style="display: none"
      (change)="onFileSelected($event)"
      accept=".xlsx, .xls"
    /> -->
  </mat-menu>
</div>

<mat-divider class="w-full my-3"></mat-divider>

<app-materials-library
  [materials]="materials"
  [showActions]="true"
></app-materials-library>
