<app-header title="Supplier Details"></app-header>

<div class="w-full p-2 flex flex-col gap-2">
  <!-- Supplier Name -->
  <div class="w-full flex flex-col">
    <label
      class="block text-sm font-medium text-gray-400"
      [ngClass]="{
        'text-red-500': supplierName.invalid && supplierName.touched
      }"
    >
      Supplier Name
      <span class="text-red-500">*</span>
    </label>
    <mat-form-field class="w-full" appearance="outline">
      <input
        matInput
        id="supplierName"
        placeholder="Supplier Name"
        [(ngModel)]="supplier.name"
        name="supplierName"
        required
        #supplierName="ngModel"
      />
      @if (supplierName.invalid && supplierName.touched) {
      <mat-error> Supplier Name is required. </mat-error>
      }
    </mat-form-field>
  </div>

  <h2 class="text-xl my-2">Primary Contact</h2>
  <div class="p-0 flex flex-row items-center gap-1">
    <!-- Primary Contact Name -->
    <div class="w-1/2 flex flex-col">
      <label
        class="block text-sm font-medium text-gray-400"
        [ngClass]="{
          'text-red-500':
            primaryContactName.invalid && primaryContactName.touched
        }"
      >
        Name
        <span class="text-red-500">*</span>
      </label>
      <mat-form-field appearance="outline">
        <input
          matInput
          id="primaryContactName"
          placeholder="Name"
          [(ngModel)]="supplier.primaryContact.name"
          name="primaryContactName"
          required
          #primaryContactName="ngModel"
        />
        @if (primaryContactName.invalid && primaryContactName.touched) {
        <mat-error> Name is required. </mat-error>
        }
      </mat-form-field>
    </div>

    <!-- Primary Contact Email -->
    <div class="w-1/2 flex flex-col">
      <label
        class="block text-sm font-medium text-gray-400"
        [ngClass]="{
          'text-red-600':
            primaryContactEmail.invalid && primaryContactEmail.touched
        }"
      >
        Email
        <span class="text-red-500">*</span>
      </label>
      <mat-form-field appearance="outline">
        <input
          matInput
          id="primaryContactEmail"
          type="email"
          placeholder="Email"
          [(ngModel)]="supplier.primaryContact.email"
          name="primaryContactEmail"
          required
          email
          #primaryContactEmail="ngModel"
        />
        @if (primaryContactEmail.invalid && primaryContactEmail.touched) {
        <mat-error>
          @if (primaryContactEmail.errors?.['required']) {
          <span>Email is required.</span>
          } @if (primaryContactEmail.errors?.['email']) {
          <span>Invalid email format.</span>
          }
        </mat-error>
        }
      </mat-form-field>
    </div>
  </div>

  <div class="p-0 flex flex-row items-center gap-1">
    <!-- Phone Code -->
    <div class="flex flex-col">
      <label class="block text-sm font-medium text-gray-400">Code</label>
      <mat-form-field appearance="outline">
        <input
          matInput
          id="primaryContactPhoneCode"
          placeholder="Code"
          [(ngModel)]="supplier.primaryContact.phone!.code"
          name="primaryContactPhoneCode"
          #primaryContactPhoneCode="ngModel"
        />
      </mat-form-field>
    </div>

    <!-- Phone Number -->
    <div class="w-full flex flex-col">
      <label class="block text-sm font-medium text-gray-400">Phone</label>
      <mat-form-field appearance="outline">
        <input
          matInput
          id="primaryContactPhoneNumber"
          placeholder="Number"
          [(ngModel)]="supplier.primaryContact.phone!.number"
          name="primaryContactPhoneNumber"
          #primaryContactPhoneNumber="ngModel"
        />
      </mat-form-field>
    </div>
  </div>

  <h2 class="text-xl my-2">Address</h2>
  <div class="p-0 flex flex-row items-center gap-1">
    <!-- Address Line 1 -->
    <div class="w-1/2 flex flex-col">
      <label
        class="block text-sm font-medium text-gray-400"
        [ngClass]="{
          'text-red-500': addressLine1.invalid && addressLine1.touched
        }"
      >
        Address Line 1
        <span class="text-red-500">*</span>
      </label>
      <mat-form-field appearance="outline">
        <input
          matInput
          id="addressLine1"
          placeholder="Address Line 1"
          [(ngModel)]="supplier.address!.addressLine1"
          name="addressLine1"
          required
          #addressLine1="ngModel"
        />
        @if (addressLine1.invalid && addressLine1.touched) {
        <mat-error> Address Line 1 is required. </mat-error>
        }
      </mat-form-field>
    </div>

    <!-- Address Line 2 -->
    <div class="w-1/2 flex flex-col">
      <label class="block text-sm font-medium text-gray-400">
        Address Line 2
      </label>
      <mat-form-field appearance="outline">
        <input
          matInput
          id="addressLine2"
          placeholder="Address Line 2"
          [(ngModel)]="supplier.address!.addressLine2"
          name="addressLine2"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="p-0 flex flex-row items-center gap-1">
    <!-- Town/City -->
    <div class="w-1/2 flex flex-col">
      <label class="block text-sm font-medium text-gray-400"> Town/City </label>
      <mat-form-field appearance="outline">
        <input
          matInput
          id="townCity"
          placeholder="Town/City"
          [(ngModel)]="supplier.address!.townCity"
          name="townCity"
          #townCity="ngModel"
        />
      </mat-form-field>
    </div>

    <!-- State -->
    <div class="w-1/2 flex flex-col">
      <label class="block text-sm font-medium text-gray-400">
        State/Provice/County
      </label>
      <mat-form-field appearance="outline">
        <input
          matInput
          id="stateProvinceCounty"
          placeholder="State/Province/County"
          [(ngModel)]="supplier.address!.stateProvinceCounty"
          name="stateProvinceCounty"
          #stateProvinceCounty="ngModel"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="p-0 flex flex-row items-center gap-1">
    <!-- Country -->
    <div class="w-full flex flex-col">
      <label
        class="block text-sm font-medium text-gray-400"
        [ngClass]="{ 'text-red-500': country.invalid && country.touched }"
      >
        Country
        <span class="text-red-500">*</span>
      </label>
      <mat-form-field appearance="outline">
        <mat-select
          [(ngModel)]="supplier.address!.country"
          placeholder="Country"
          name="country"
          required
          #country="ngModel"
        >
          @for (country of countryOptions; track $index) {
          <mat-option [value]="country.name">
            <div class="flex items-center gap-2">
              <img
                [src]="country.flag"
                alt="{{ country.name }} flag"
                width="20"
                height="15"
              />
              {{ country.name }}
            </div>
          </mat-option>
          }
        </mat-select>
        @if (country.invalid && country.touched) {
        <mat-error> Country is required. </mat-error>
        }
      </mat-form-field>
    </div>

    <!-- Postal/ZIP Code -->
    <div class="w-full flex flex-col">
      <label
        class="block text-sm font-medium text-gray-400"
        [ngClass]="{
          'text-red-500': postalZipCode.invalid && postalZipCode.touched
        }"
      >
        Postal/ZIP Code
        <span class="text-red-500">*</span>
      </label>
      <mat-form-field appearance="outline">
        <input
          matInput
          id="postalZipCode"
          placeholder="Postal/ZIP Code"
          [(ngModel)]="supplier.address!.postalZipCode"
          name="postalZipCode"
          required
          #postalZipCode="ngModel"
        />
        @if (postalZipCode.invalid && postalZipCode.touched) {
        <mat-error> Postal/ZIP Code is required. </mat-error>
        }
      </mat-form-field>
    </div>
  </div>
</div>

<div class="w-full flex flex-row items-center justify-center my-10">
  <div class="flex items-center gap-2">
    <button mat-stroked-button routerLink="/suppliers">
      <mat-icon>close</mat-icon>
      Cancel
    </button>
    <button
      mat-flat-button
      (click)="submit()"
      [disabled]="
        supplierName.invalid ||
        primaryContactName.invalid ||
        primaryContactEmail.invalid ||
        addressLine1.invalid ||
        country.invalid ||
        postalZipCode.invalid
      "
    >
      <mat-icon>check_circle_outline</mat-icon>
      {{ supplier.id ? "Update" : "Create" }} Supplier
    </button>
  </div>
</div>
