<div class="w-full p-2">
  @if (isMobile$|async) {
  <div class="w-full flex flex-col gap-1 my-5">
    <h1 class="text-3xl text-center w-full">
      {{ billOfMaterials!.productName }}
    </h1>
    <div class="text-md text-gray-200 text-center w-full">
      ID: {{ billOfMaterials!.id }}
    </div>
  </div>
  } @else {
  <div class="w-full flex flex-row items-center justify-between">
    <app-header
      [title]="billOfMaterials!.productName"
      [subTitle]="'ID: ' + billOfMaterials.id"
    ></app-header>
    <div class="flex items-center gap-2">
      <!-- <button
        mat-stroked-button
        color="secondary"
        (click)="exportBillOfMaterials()"
      >
        <mat-icon>download</mat-icon>
        Export Bill of Materials
      </button> -->
      <button
        mat-stroked-button
        color="secondary"
        [routerLink]="'/bill-of-materials/edit/' + billOfMaterials.id"
      >
        <mat-icon>edit</mat-icon>
        Edit Bill of Materials
      </button>
      <button mat-stroked-button color="warn" (click)="deleteBillOfMaterials()">
        <mat-icon>delete</mat-icon>
        Delete Bill of Materials
      </button>
    </div>
  </div>
  }

  <mat-divider></mat-divider>

  <div class="w-full p-2 flex flex-col space-y-4">
    <div class="p-0 flex flex-col md:flex-row items-start gap-3 w-full">
      <div class="w-full md:w-1/2">
        <label class="block text-sm font-medium text-gray-400">
          Total Cost
        </label>
        <div class="text-gray-200">
          {{ billOfMaterials.totalCost | currency : billOfMaterials.currency }}
        </div>
      </div>

      <div class="w-full md:w-1/2">
        <label class="block text-sm font-medium text-gray-400">
          Contact Info
        </label>
        <div class="text-gray-200">
          {{ billOfMaterials.contactInfo || "-" }}
        </div>
      </div>
    </div>

    <h2 class="text-xl my-2 text-gray-300">Approval Details</h2>
    <div class="p-0 flex flex-col md:flex-row items-start gap-3 w-full">
      <div class="w-full md:w-1/2">
        <label class="block text-sm font-medium text-gray-400">
          Approved By
        </label>
        <div class="text-gray-200">{{ billOfMaterials.approvedBy || "-" }}</div>
      </div>

      <div class="w-full md:w-1/2">
        <label class="block text-sm font-medium text-gray-400">
          Date of Approval
        </label>
        <div class="text-gray-200">
          {{
            billOfMaterials.dateOfApproval
              ? (billOfMaterials.dateOfApproval | date : "mediumDate")
              : "-"
          }}
        </div>
      </div>
    </div>

    <h2 class="text-xl my-2 text-gray-300">Parts</h2>
    @if (!(isMobile$|async)) {
    <mat-form-field appearance="fill" class="w-full">
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Filter Parts by Part Name, Part Number, Description, Quantity, Cost or Supplier..."
        #input
      />
    </mat-form-field>

    <div class="my-5 mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="partNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Part Number</th>
          <td mat-cell *matCellDef="let row">{{ row.partNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="partName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Part Name</th>
          <td mat-cell *matCellDef="let row">
            <a
              mat-button
              [routerLink]="'/materials/view/' + row.materialId"
              target="_blank"
              >{{ row.partName }}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let row">{{ row.description }}</td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
          <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
        </ng-container>

        <ng-container matColumnDef="supplierOrManufacturer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Supplier/Manufacturer
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.supplierOrManufacturer }}
          </td>
        </ng-container>

        <ng-container matColumnDef="unitCost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit Cost</th>
          <td mat-cell *matCellDef="let row">
            {{ row.unitCost | currency : row.currency }}
          </td>
        </ng-container>

        <ng-container matColumnDef="totalPartCost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Cost</th>
          <td mat-cell *matCellDef="let row">
            {{ row.totalPartCost | currency : row.currency }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    } @else {
    <div class="w-full">
      <mat-accordion class="flex flex-col gap-2">
        @for (part of billOfMaterials.parts; track $index) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="flex items-center gap-2 min-w-fit">
              <mat-icon>category</mat-icon>
              {{ part.name }}
            </mat-panel-title>
            <mat-panel-description>
              {{ part.partNumber }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="p-4 flex flex-col gap-2">
            <p>
              <strong>Description:</strong>
              {{ part.description }}
            </p>
            <p>
              <strong>Unit Cost:</strong>
              {{ part.unitCost | currency : billOfMaterials.currency }}
            </p>
            <p>
              <strong>Quantity:</strong>
              {{ part.quantity }}
            </p>
            <p>
              <strong>Total Cost:</strong>
              {{ part.totalPartCost | currency : billOfMaterials.currency }}
            </p>
            <p>
              <strong>Supplier/Manufacturer:</strong>
              {{ part.supplierOrManufacturer?.name }}
            </p>
          </div>
        </mat-expansion-panel>
        }
      </mat-accordion>
    </div>
    }
  </div>
</div>
