<div class="w-full p-5">
  <div class="w-full flex flex-row items-center justify-between">
    <app-header
      [title]="billOfMaterials!.productName"
      [subTitle]="'ID: ' + billOfMaterials.id"
    ></app-header>
    <div class="flex items-center gap-2">
      <button
        mat-stroked-button
        color="secondary"
        (click)="exportBillOfMaterials()"
      >
        <mat-icon>download</mat-icon>
        Export Bill of Materials
      </button>
      <button
        mat-stroked-button
        color="secondary"
        [routerLink]="'/bill-of-materials/edit/' + billOfMaterials.id"
      >
        <mat-icon>edit</mat-icon>
        Edit Bill of Materials
      </button>
      <button mat-stroked-button color="warn" (click)="deleteBillOfMaterials()">
        <mat-icon>delete</mat-icon>
        Delete Bill of Materials
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="w-full p-2 flex flex-col space-y-4">
    <div class="p-0 flex flex-row items-center gap-1 w-full">
      <div class="w-1/2">
        <label class="block text-sm font-medium text-gray-400"
          >Total Cost</label
        >
        <div class="text-gray-200">
          {{ billOfMaterials.totalCost | currency : billOfMaterials.currency }}
        </div>
      </div>

      <div class="w-1/2">
        <label class="block text-sm font-medium text-gray-400"
          >Contact Info</label
        >
        <div class="text-gray-200">
          {{ billOfMaterials.contactInfo || "-" }}
        </div>
      </div>
    </div>

    <h2 class="text-xl my-2 text-gray-300">Approval Details</h2>
    <div class="p-0 flex flex-row items-center gap-1 w-full">
      <div class="w-1/2">
        <label class="block text-sm font-medium text-gray-400"
          >Approved By</label
        >
        <div class="text-gray-200">{{ billOfMaterials.approvedBy || "-" }}</div>
      </div>

      <div class="w-1/2">
        <label class="block text-sm font-medium text-gray-400"
          >Date of Approval</label
        >
        <div class="text-gray-200">
          {{
            billOfMaterials.dateOfApproval
              ? (billOfMaterials.dateOfApproval | date : "mediumDate")
              : "-"
          }}
        </div>
      </div>
    </div>

    <h2 class="text-xl my-2 text-gray-300">Parts</h2>
    <mat-form-field appearance="fill" class="w-full">
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Filter Parts by Part Name, Part Number, Description, Quantity, Cost or Supplier..."
        #input
      />
    </mat-form-field>

    <div class="my-5 mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="partNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Part Number</th>
          <td mat-cell *matCellDef="let row">{{ row.partNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="partName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Part Name</th>
          <td mat-cell *matCellDef="let row">
            <a
              mat-button
              [routerLink]="'/materials/view/' + row.materialId"
              target="_blank"
              >{{ row.partName }}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let row">{{ row.description }}</td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
          <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
        </ng-container>

        <ng-container matColumnDef="supplierOrManufacturer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Supplier/Manufacturer
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.supplierOrManufacturer }}
          </td>
        </ng-container>

        <ng-container matColumnDef="unitCost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit Cost</th>
          <td mat-cell *matCellDef="let row">
            {{ row.unitCost | currency : row.currency }}
          </td>
        </ng-container>

        <ng-container matColumnDef="totalPartCost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Cost</th>
          <td mat-cell *matCellDef="let row">
            {{ row.totalPartCost | currency : row.currency }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <!-- <div class="overflow-x-auto max-w-full">
      <table
        class="table-auto w-full max-w-full bg-gray-800 border border-gray-700 text-gray-200"
      >
        <thead>
          <tr class="bg-gray-700 text-gray-300">
            <th class="py-2 px-2 border-b border-gray-600 w-24">Part Number</th>
            <th class="py-2 px-2 border-b border-gray-600">Part Name</th>
            <th class="py-2 px-2 border-b border-gray-600 w-40">Description</th>
            <th class="py-2 px-2 border-b border-gray-600 w-20">Quantity</th>
            <th class="py-2 px-2 border-b border-gray-600 w-24">Units</th>
            <th class="py-2 px-2 border-b border-gray-600">Supplier</th>
            <th class="py-2 px-2 border-b border-gray-600 w-28">Unit Cost</th>
          </tr>
        </thead>
        <tbody>
          @for (part of billOfMaterials.parts; track $index) {
          <tr class="hover:bg-gray-700">
            <td class="py-2 px-2 border-b border-gray-700 w-24">
              {{ part.partNumber }}
            </td>

            <td class="py-2 px-2 border-b border-gray-700">
              {{ part.partName }}
            </td>

            <td class="py-2 px-2 border-b border-gray-700 w-40">
              {{ part.description || "-" }}
            </td>

            <td class="py-2 px-2 border-b border-gray-700 w-20">
              {{ part.quantity }}
            </td>

            <td class="py-2 px-2 border-b border-gray-700 w-24">
              {{ part.units }}
            </td>

            <td class="py-2 px-2 border-b border-gray-700">
              {{
                part.supplierOrManufacturer
                  ? part.supplierOrManufacturer.name
                  : "-"
              }}
            </td>

            <td class="py-2 px-2 border-b border-gray-700 w-28">
              {{
                part.unitCost
                  | currency : billOfMaterials.currency : "symbol" : "1.2-2"
              }}
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div> -->
  </div>
</div>
