<div class="w-full p-5">
  <div class="w-full flex flex-row items-center justify-between">
    <app-header
      [title]="supplier!.name"
      [subTitle]="'ID: ' + supplier.id"
    ></app-header>
    <div class="flex items-center gap-2">
      <button
        mat-stroked-button
        color="secondary"
        [routerLink]="'/suppliers/edit/' + supplier.id"
      >
        <mat-icon>edit</mat-icon>
        Edit Supplier
      </button>
      <button mat-stroked-button color="warn" (click)="deleteSupplier()">
        <mat-icon>delete</mat-icon>
        Delete Supplier
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>

  <mat-card appearance="outlined" class="p-4 my-5">
    <div class="w-full flex flex-row items-center justify-evenly">
      <div class="flex flex-col gap-1 w-2/5">
        <div class="text-lg font-semibold">Address</div>
        <mat-divider></mat-divider>
        <div class="text-md">
          {{ supplier!.address!.addressLine1 }},
          <span *ngIf="supplier!.address!.addressLine2">
            {{ supplier!.address!.addressLine2 }},
          </span>
          {{ supplier!.address!.townCity }},
          {{ supplier!.address!.stateProvinceCounty }},
          {{ supplier!.address!.postalZipCode }},
          {{ supplier!.address!.country }}
        </div>

        <div *ngIf="supplier!.address!.mapsLink" class="mt-2">
          <a
            [href]="supplier!.address!.mapsLink"
            target="_blank"
            class="text-sm text-blue-600 hover:underline flex items-center"
          >
            View on Maps
          </a>
        </div>
      </div>

      <div class="flex flex-col gap-1 w-2/5">
        <div class="text-lg font-semibold">Contact Information</div>
        <mat-divider></mat-divider>
        <div class="text-md font-medium">
          {{ supplier!.primaryContact!.name }}, <br />
          @if (supplier!.primaryContact!.designation) {
          <span class="font-semibold">Designation: </span>
          {{ supplier!.primaryContact!.designation }}
          }
        </div>
        <div class="text-md flex gap-4 mt-1">
          <span>
            <span class="font-semibold">Email:</span>
            <a
              href="mailto:{{ supplier!.primaryContact!.email }}"
              class="text-blue-600 hover:underline"
            >
              {{ supplier!.primaryContact!.email }}
            </a>
          </span>
          <span *ngIf="supplier!.primaryContact!.phone">
            <span class="font-semibold">Phone:</span> +{{
              supplier!.primaryContact!.phone!.code
            }}
            {{ supplier!.primaryContact!.phone!.number }}
          </span>
        </div>
      </div>
    </div>
  </mat-card>

  <!-- Documents -->
  @if (supplier.documents?.length) {
  <mat-card appearance="outlined" class="p-4 shadow-md">
    <div class="flex flex-col gap-1">
      <div class="text-lg font-semibold">Documents</div>
      <mat-divider></mat-divider>

      <div class="w-full flex items-center gap-2 flex-wrap">
        @for (item of supplier.documents; track $index) {
        <div class="media-card">
          @if (item.type.startsWith('image/')) {
          <img mat-card-image [src]="item.url" class="responsive-img" />
          } @else {
          <div class="pdf-icon-container">
            <mat-icon class="file-icon">picture_as_pdf</mat-icon>
          </div>
          }

          <div class="overlay">
            <a mat-button [href]="item.url" target="_blank">
              <mat-icon>visibility</mat-icon>
            </a>
          </div>
        </div>
        }
      </div>
    </div>
  </mat-card>
  }
</div>

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="flex flex-row items-center justify-center gap-3 w-full">
        <mat-icon>category</mat-icon>
        <div class="text-lg">Materials</div>
      </div>
    </ng-template>
    <app-materials-library [materials]="materials"></app-materials-library>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="flex flex-row items-center justify-center gap-3 w-full">
        <mat-icon>shopping_cart</mat-icon>
        <div class="text-lg">Orders</div>
      </div>
    </ng-template>
    <app-orders-list
      [orders]="orders"
      [displayedColumns]="ordersDisplayColumns"
    ></app-orders-list>
  </mat-tab>
</mat-tab-group>
