<app-loading></app-loading>

<mat-sidenav-container class="app-container">
  <mat-sidenav
    #sidenav
    mode="side"
    opened
    fixedInViewport
    class="h-screen flex flex-col gap-2 mr-3 p-3 bg-black text-white app-sidenav"
    [disableClose]="true"
  >
    <h1 class="w-full text-4xl text-center font-semibold my-5">Laminar</h1>
    <mat-divider></mat-divider>
    <mat-nav-list class="text-center text-white">
      @for (item of menuItems; track $index) {
      <a mat-list-item [activated]="item.isActive" [routerLink]="item.route">
        <div class="flex flex-row items-center gap-2 px-2">
          <mat-icon>{{ item.icon }}</mat-icon>
          <div>{{ item.label }}</div>
        </div>
      </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="p-10">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
