@if (data!.supplier) {
<h1 mat-dialog-title>Parts supplied by {{ data!.supplier!.name }}</h1>
} @else {
<h1 mat-dialog-title>Available Parts</h1>
}

<mat-divider></mat-divider>

<mat-dialog-content>
  <div class="flex flex-wrap justify-center gap-4 p-4">
    @for (material of data!.materials; track $index) {
    <mat-card
      class="w-[280px] min-w-[220px] max-w-[300px] flex flex-col justify-between shadow-md"
      [ngClass]="{
        'border border-gray-500': _tempSelectedIds.includes(material.id || '')
      }"
    >
      <mat-card-header>
        <mat-card-title class="text-lg font-semibold">
          {{ material.partName }}
        </mat-card-title>
        <mat-card-subtitle>
          <div class="flex flex-col w-full text-gray-500 text-xs">
            <span> <strong>Material</strong>: {{ material.material }} </span>
            <span>
              <strong>Manufacturing Method</strong>:
              {{ material.manufacturingMethod }}
            </span>
          </div>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="flex justify-between p-2">
        @if (!_tempSelectedIds.includes(material.id || '')) {
        <a
          mat-button
          [routerLink]="'/materials/view/' + material.id"
          target="_blank"
          class="text-blue-500 flex items-center gap-1"
        >
          <mat-icon>open_in_new</mat-icon>
          VIEW DETAILS
        </a>
        <button
          mat-button
          (click)="addPart(material.id)"
          [disabled]="!material!.suppliers!.length"
          class="text-green-600 flex items-center gap-1"
        >
          <mat-icon>add</mat-icon>
          ADD
        </button>
        } @else {
        <button
          mat-button
          (click)="removePart(material.id)"
          color="warn"
          [disabled]="!material!.suppliers!.length"
          class="text-red-600 flex items-center gap-1"
        >
          <mat-icon>delete</mat-icon>
          REMOVE
        </button>
        }
      </mat-card-actions>
    </mat-card>
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="p-4 flex gap-2">
  <button
    mat-flat-button
    [mat-dialog-close]="selectedPartIds()"
    cdkFocusInitial
    class="flex items-center gap-1"
  >
    <mat-icon>check_circle_outline</mat-icon>
    Done
  </button>
</mat-dialog-actions>
