<mat-sidenav-container class="w-full h-full">
  <mat-sidenav
    mode="over"
    position="end"
    [(opened)]="showSidebar"
    [disableClose]="false"
    class="sidebar"
  >
    <div class="w-full flex items-center justify-between">
      <app-header title="Filters" icon="filter_alt"></app-header>
      <button
        mat-stroked-button
        class="min-w-fit flex flex-row items-center my-0"
        (click)="clearFilters()"
      >
        <mat-icon>filter_alt_off</mat-icon>
        Clear Filters
      </button>
    </div>
    <mat-divider class="w-full my-3"></mat-divider>

    <mat-accordion class="w-full my-5">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Status </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="w-full flex flex-col gap-1">
          @if (filterConstraints.status?.[OrderStatus.placed]) {
          <mat-checkbox
            [(ngModel)]="filterPayload!.status![OrderStatus.placed]"
          >
            Placed
          </mat-checkbox>
          } @if (filterConstraints.status?.[OrderStatus.dispatched]) {
          <mat-checkbox
            [(ngModel)]="filterPayload!.status![OrderStatus.dispatched]"
          >
            Dispatched
          </mat-checkbox>
          } @if (filterConstraints.status?.[OrderStatus.delivered]) {
          <mat-checkbox
            [(ngModel)]="filterPayload!.status![OrderStatus.delivered]"
          >
            Delivered
          </mat-checkbox>
          }
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Order Date </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="w-full flex flex-col gap-1">
          <mat-form-field class="w-full">
            <mat-label>Start Date</mat-label>
            <input
              matInput
              [matDatepicker]="startDP"
              [(ngModel)]="filterPayload.date!.min"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="startDP"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDP></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>End Date</mat-label>
            <input
              matInput
              [matDatepicker]="endDP"
              [(ngModel)]="filterPayload.date!.max"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="endDP"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDP></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Total Value </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="w-full my-2 flex flex-col md:flex-row items-center gap-2">
          <div class="w-full md:w-1/2">
            <label>Minimum Order Value</label>
            <mat-form-field class="w-full">
              <span matTextPrefix class="mr-2">£</span>
              <input
                matInput
                type="number"
                class="w-full text-sm"
                [(ngModel)]="filterPayload.value!.min"
                placeholder="Minimum Order Value"
                [min]="filterConstraints.value?.min || 0"
                [max]="filterConstraints.value?.max || 0"
              />
            </mat-form-field>
          </div>
          <div class="w-full md:w-1/2">
            <label>Maximum Order Value</label>
            <mat-form-field class="w-full">
              <span matTextPrefix class="mr-2">£</span>
              <input
                matInput
                type="number"
                class="w-full text-sm"
                [(ngModel)]="filterPayload.value!.max"
                placeholder="Maximum Order Value"
                [min]="filterConstraints.value?.min || 0"
                [max]="filterConstraints.value?.max || 0"
              />
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="w-full flex items-center justify-center mt-5">
      <button
        mat-flat-button
        class="min-w-fit flex flex-row items-center my-0"
        (click)="applyFilters()"
      >
        <mat-icon>check_circle_outline</mat-icon>
        Apply
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="p-2">
      @if (!(isMobile$|async)) {
      <div class="w-full flex flex-row items-center justify-between">
        <app-header title="Orders" icon="shopping_cart"></app-header>
        <div class="flex flex-row items-center gap-1">
          <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu"> -->
          <!-- <app-filter></app-filter> -->
          <button
            mat-stroked-button
            class="min-w-fit flex flex-row items-center my-0"
            (click)="openSidebar()"
          >
            <mat-icon>filter_alt</mat-icon>
            Apply Filters
          </button>
          <button mat-stroked-button routerLink="./create">
            <mat-icon>add_circle</mat-icon>
            Create New Order
          </button>
          <!-- <button mat-menu-item (click)="exportAllInventory()">
      <mat-icon>download</mat-icon>
      Export All Inventory Records
    </button>
    <button mat-menu-item (click)="fileInput.click()">
      <mat-icon>upload</mat-icon>
      Import Inventory Records
    </button>
    <input
      type="file"
      #fileInput
      style="display: none"
      (change)="onFileSelected($event)"
      accept=".xlsx, .xls"
    /> -->
          <!-- </mat-menu> -->
        </div>
      </div>
      } @else {
      <div class="flex flex-col items-center">
        <h1 class="text-3xl text-center my-5 w-full">
          Orders ({{ orders!.length }})
        </h1>
        <div class="w-full flex items-center justify-center my-1">
          <button
            mat-stroked-button
            class="min-w-fit flex flex-row items-center my-0"
            (click)="openSidebar()"
          >
            <mat-icon>filter_alt</mat-icon>
            Apply Filters
          </button>
        </div>
      </div>
      }

      <mat-divider class="w-full my-3"></mat-divider>

      <mat-card appearance="outlined" class="w-full my-5 p-4">
        <mat-card-content>
          <div
            class="w-full flex flex-col md:flex-row items-center justify-evenly gap-4"
          >
            <!-- Total Orders -->
            <div class="w-full md:w-1/2 flex flex-col gap-2 text-center">
              <div class="text-4xl md:text-6xl">{{ analytics.totalCount }}</div>
              <div class="text-lg md:text-xl">Total Orders</div>
            </div>

            <!-- Total Value -->
            <div class="w-full md:w-1/2 flex flex-col gap-2 text-center">
              <div class="text-4xl md:text-6xl">
                {{ analytics.totalValue | currency : "GBP" }}
              </div>
              <div class="text-lg md:text-xl">Total Value</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <app-orders-list
        [orders]="orders"
        [displayedColumns]="displayedColumns"
      ></app-orders-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
