<div
  class="flex flex-row flex-wrap items-center justify-between w-full gap-2 md:gap-4"
>
  @for (step of statusSteps; track $index) {
  <div
    class="flex flex-col items-center text-center space-y-1 md:space-y-2"
    [ngClass]="{
      'text-white': step.value === OrderStatus.placed,
      'text-yellow-500': step.value === OrderStatus.dispatched,
      'text-green-500': step.value === OrderStatus.delivered,
      'opacity-100': $index <= currentStepIndex,
      'opacity-50': $index > currentStepIndex
    }"
  >
    <mat-icon class="w-8 h-8 md:w-12 md:h-12">
      {{ step.icon }}
    </mat-icon>
    <span class="text-xs md:text-sm font-medium">
      {{ step.label }}
    </span>
  </div>
  }
</div>
