<app-header title="Material Details"></app-header>

<div class="w-full p-2 flex flex-col">
  <mat-form-field class="w-full" appearance="outline">
    <input
      matInput
      id="partName"
      placeholder="Part Name"
      [(ngModel)]="material.partName"
    />
  </mat-form-field>

  <mat-form-field class="w-full" appearance="outline">
    <input
      matInput
      id="material"
      placeholder="Material"
      [(ngModel)]="material.material"
    />
  </mat-form-field>

  <mat-form-field class="w-full" appearance="outline">
    <input
      matInput
      id="manufacturingMethod"
      placeholder="Manufacturing Method"
      [(ngModel)]="material.manufacturingMethod"
    />
  </mat-form-field>

  <mat-form-field class="w-full" appearance="outline">
    <input
      matInput
      id="weight"
      placeholder="Weight"
      [(ngModel)]="material.weight"
    />
  </mat-form-field>

  <div class="mt-4 flex w-full items-center justify-between">
    <div class="flex flex-col gap-0">
      <h2 class="text-xl">Images</h2>
      <small class="font-italic">Supported file types: .jpeg, .png,</small>
    </div>
    <input
      #imagesInput
      type="file"
      (change)="filesSelected($event, MediaTypes.images)"
      accept="image/jpeg, image/jpg, image/png"
      multiple
      hidden
    />
    <button mat-stroked-button (click)="imagesInput.click()" class="min-w-fit">
      <mat-icon>upload</mat-icon>
      Upload
    </button>
  </div>
  <div class="w-full flex items-center gap-2 my-2 mb-4">
    @for (item of material.images; track $index) {
    <mat-card class="media-card" appearance="outlined">
      <img mat-card-image [src]="item.url" class="responsive-img" />
      <div class="overlay">
        <button
          mat-icon-button
          (click)="deleteMedia($index, MediaTypes.images)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
    } @if (isUploading[MediaTypes.images]) {
    <div class="skeleton-card"></div>
    }
  </div>

  <div class="mt-4 flex w-full items-center justify-between">
    <div class="flex flex-col gap-0">
      <h2 class="text-xl">Drawings</h2>
      <small class="font-italic">Supported file types: .jpeg, .png, .pdf</small>
    </div>
    <input
      #drawingsInput
      type="file"
      (change)="filesSelected($event, MediaTypes.drawings)"
      accept="image/jpeg, image/jpg, image/png, application/pdf"
      multiple
      hidden
    />
    <button
      mat-stroked-button
      (click)="drawingsInput.click()"
      class="min-w-fit"
    >
      <mat-icon>upload</mat-icon>
      Upload
    </button>
  </div>
  <div class="w-full flex items-center gap-2 my-2 mb-4">
    @for (item of material.drawings; track $index) {
    <mat-card class="media-card" appearance="outlined">
      @if (item.type.startsWith('image/')) {
      <img mat-card-image [src]="item.url" class="responsive-img" />
      } @else {
      <div class="pdf-icon-container">
        <mat-icon class="file-icon">picture_as_pdf</mat-icon>
      </div>
      }

      <div class="overlay">
        <button
          mat-icon-button
          (click)="deleteMedia($index, MediaTypes.drawings)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
    } @if (isUploading[MediaTypes.drawings]) {
    <div class="skeleton-card"></div>
    }
  </div>

  <div class="mt-4 flex w-full items-center justify-between">
    <div class="flex flex-col gap-0">
      <h2 class="text-xl">Data Sheets and other Documents</h2>
      <small class="font-italic">Supported file types: .pdf</small>
    </div>
    <input
      #dataSheetsInput
      type="file"
      (change)="filesSelected($event, MediaTypes.dataSheets)"
      accept="application/pdf"
      multiple
      hidden
    />
    <button
      mat-stroked-button
      (click)="dataSheetsInput.click()"
      class="min-w-fit"
    >
      <mat-icon>upload</mat-icon>
      Upload
    </button>
  </div>
  <div class="w-full flex items-center gap-2 my-2 mb-4">
    @for (item of material.dataSheets; track $index) {
    <mat-card class="media-card" appearance="outlined">
      <div class="pdf-icon-container">
        <mat-icon class="file-icon">picture_as_pdf</mat-icon>
      </div>

      <div class="overlay">
        <button
          mat-icon-button
          (click)="deleteMedia($index, MediaTypes.dataSheets)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
    } @if (isUploading[MediaTypes.dataSheets]) {
    <div class="skeleton-card"></div>
    }
  </div>

  <h2 class="text-xl my-2">Dimensions</h2>
  <div class="p-0 flex flex-row items-center gap-1">
    <mat-form-field class="w-1/3" appearance="outline">
      <input
        matInput
        id="length"
        placeholder="Length"
        [(ngModel)]="material.dimensions!.length"
      />
    </mat-form-field>
    <mat-form-field class="w-1/3" appearance="outline">
      <input
        matInput
        id="breadth"
        placeholder="Breadth"
        [(ngModel)]="material.dimensions!.breadth"
      />
    </mat-form-field>
    <mat-form-field class="w-1/3" appearance="outline">
      <input
        matInput
        id="height"
        placeholder="Height"
        [(ngModel)]="material.dimensions!.height"
      />
    </mat-form-field>
  </div>

  <h2 class="text-xl my-2">Suppliers</h2>
  <mat-form-field class="w-full" appearance="outline">
    <mat-select
      [(ngModel)]="material.suppliers"
      multiple
      placeholder="Select Suppliers"
      [compareWith]="supplierCompareFunction"
    >
      @for (supplier of supplierOptions; track supplier.id) {
      <mat-option [value]="supplier">{{ supplier.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<mat-toolbar
  class="actions-footer fixed bottom-0 right-0 w-full flex flex-row justify-between gap-5 items-center"
>
  <div class="flex flex-col gap-0"></div>
  <button mat-flat-button (click)="submit()">
    <mat-icon>check_circle</mat-icon>
    Submit
  </button>
</mat-toolbar>
