<app-header title="Material Details"></app-header>

<div class="w-full p-2 flex flex-col gap-4">
  <!-- Part Name and Material -->
  <div class="flex flex-row gap-2">
    <!-- Part Name -->
    <div class="w-1/2 flex flex-col">
      <label
        for="partNameInput"
        class="block text-sm font-medium text-gray-400"
        [ngClass]="{
          'text-red-500': partNameInput.invalid && partNameInput.touched
        }"
      >
        Part Name<span class="text-red-500">*</span>
      </label>
      <mat-form-field class="w-full" appearance="outline">
        <input
          matInput
          id="partNameInput"
          placeholder="Part Name"
          [(ngModel)]="material.partName"
          name="partNameInput"
          required
          #partNameInput="ngModel"
        />
        @if (partNameInput.invalid && partNameInput.touched) {
        <mat-error> Part Name is required. </mat-error>
        }
      </mat-form-field>
    </div>

    <!-- Material -->
    <div class="w-1/2 flex flex-col">
      <label
        for="materialInput"
        class="block text-sm font-medium text-gray-400"
        [ngClass]="{
          'text-red-500': materialInput.invalid && materialInput.touched
        }"
      >
        Material<span class="text-red-500">*</span>
      </label>
      <mat-form-field class="w-full" appearance="outline">
        <input
          matInput
          id="materialInput"
          placeholder="Material"
          [(ngModel)]="material.material"
          name="materialInput"
          required
          #materialInput="ngModel"
        />
        @if (materialInput.invalid && materialInput.touched) {
        <mat-error> Material is required. </mat-error>
        }
      </mat-form-field>
    </div>
  </div>

  <!-- Manufacturing Method and Weight -->
  <div class="flex flex-row gap-2">
    <!-- Manufacturing Method -->
    <div class="w-1/2 flex flex-col">
      <label
        for="manufacturingMethodInput"
        class="block text-sm font-medium text-gray-400"
        [ngClass]="{
          'text-red-500':
            manufacturingMethodInput.invalid && manufacturingMethodInput.touched
        }"
      >
        Manufacturing Method<span class="text-red-500">*</span>
      </label>
      <mat-form-field class="w-full" appearance="outline">
        <input
          matInput
          id="manufacturingMethodInput"
          placeholder="Manufacturing Method"
          [(ngModel)]="material.manufacturingMethod"
          name="manufacturingMethodInput"
          required
          #manufacturingMethodInput="ngModel"
        />
        @if (manufacturingMethodInput.invalid &&
        manufacturingMethodInput.touched) {
        <mat-error> Manufacturing Method is required. </mat-error>
        }
      </mat-form-field>
    </div>

    <!-- Weight -->
    <div class="w-1/2 flex flex-col">
      <label
        for="weightInput"
        class="block text-sm font-medium text-gray-400"
        [ngClass]="{
          'text-red-500': weightInput.invalid && weightInput.touched
        }"
      >
        Weight<span class="text-red-500">*</span>
      </label>
      <div class="flex flex-row gap-2">
        <mat-form-field class="w-2/3" appearance="outline">
          <input
            matInput
            id="weightInput"
            type="number"
            placeholder="Weight"
            [(ngModel)]="material.weight!.value"
            name="weightInput"
            required
            #weightInput="ngModel"
          />
          @if (weightInput.invalid && weightInput.touched) {
          <mat-error> Weight is required. </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="w-1/3" appearance="outline">
          <mat-select
            [(ngModel)]="material.weight!.unit"
            name="weightUnitInput"
            required
            placeholder="Select Unit"
          >
            <mat-option value="kg">kg</mat-option>
            <mat-option value="g">g</mat-option>
            <mat-option value="lbs">lbs</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="mt-4 flex w-full items-center justify-between">
    <div class="flex flex-col gap-0">
      <h2 class="text-xl">Images</h2>
      <small class="font-italic">Supported file types: .jpeg, .png,</small>
    </div>
    <input
      #imagesInput
      type="file"
      (change)="filesSelected($event, MediaTypes.images)"
      accept="image/jpeg, image/jpg, image/png"
      multiple
      hidden
    />
    <button mat-stroked-button (click)="imagesInput.click()" class="min-w-fit">
      <mat-icon>upload</mat-icon>
      Upload
    </button>
  </div>
  <div class="w-full flex items-center gap-2 my-2 mb-4">
    @for (item of material.images; track $index) {
    <mat-card class="media-card" appearance="outlined">
      <img mat-card-image [src]="item.url" class="responsive-img" />
      <div class="overlay">
        <button
          mat-icon-button
          (click)="deleteMedia($index, MediaTypes.images)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
    } @if (isUploading[MediaTypes.images]) {
    <div class="skeleton-card"></div>
    }
  </div>

  <div class="mt-4 flex w-full items-center justify-between">
    <div class="flex flex-col gap-0">
      <h2 class="text-xl">Drawings</h2>
      <small class="font-italic">Supported file types: .jpeg, .png, .pdf</small>
    </div>
    <input
      #drawingsInput
      type="file"
      (change)="filesSelected($event, MediaTypes.drawings)"
      accept="image/jpeg, image/jpg, image/png, application/pdf"
      multiple
      hidden
    />
    <button
      mat-stroked-button
      (click)="drawingsInput.click()"
      class="min-w-fit"
    >
      <mat-icon>upload</mat-icon>
      Upload
    </button>
  </div>
  <div class="w-full flex items-center gap-2 my-2 mb-4">
    @for (item of material.drawings; track $index) {
    <mat-card class="media-card" appearance="outlined">
      @if (item.type.startsWith('image/')) {
      <img mat-card-image [src]="item.url" class="responsive-img" />
      } @else {
      <div class="pdf-icon-container">
        <mat-icon class="file-icon">picture_as_pdf</mat-icon>
      </div>
      }

      <div class="overlay">
        <button
          mat-icon-button
          (click)="deleteMedia($index, MediaTypes.drawings)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
    } @if (isUploading[MediaTypes.drawings]) {
    <div class="skeleton-card"></div>
    }
  </div>

  <div class="mt-4 flex w-full items-center justify-between">
    <div class="flex flex-col gap-0">
      <h2 class="text-xl">Data Sheets and other Documents</h2>
      <small class="font-italic">Supported file types: .pdf</small>
    </div>
    <input
      #dataSheetsInput
      type="file"
      (change)="filesSelected($event, MediaTypes.dataSheets)"
      accept="application/pdf"
      multiple
      hidden
    />
    <button
      mat-stroked-button
      (click)="dataSheetsInput.click()"
      class="min-w-fit"
    >
      <mat-icon>upload</mat-icon>
      Upload
    </button>
  </div>
  <div class="w-full flex items-center gap-2 my-2 mb-4">
    @for (item of material.dataSheets; track $index) {
    <mat-card class="media-card" appearance="outlined">
      <div class="pdf-icon-container">
        <mat-icon class="file-icon">picture_as_pdf</mat-icon>
      </div>

      <div class="overlay">
        <button
          mat-icon-button
          (click)="deleteMedia($index, MediaTypes.dataSheets)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
    } @if (isUploading[MediaTypes.dataSheets]) {
    <div class="skeleton-card"></div>
    }
  </div>

  <!-- Dimensions -->
  <h2 class="text-xl my-2">Dimensions</h2>
  <div class="p-0 flex flex-row items-center gap-1">
    <!-- Length -->
    <div class="flex flex-col w-1/3">
      <label for="lengthInput" class="block text-sm font-medium text-gray-400">
        Length
      </label>
      <div class="flex flex-row gap-2">
        <mat-form-field class="w-2/3" appearance="outline">
          <input
            matInput
            id="lengthInput"
            type="number"
            placeholder="Length"
            [(ngModel)]="material.dimensions!.length.value"
            name="lengthInput"
          />
        </mat-form-field>
        <mat-form-field class="w-1/3" appearance="outline">
          <mat-select
            [(ngModel)]="material.dimensions!.length.unit"
            name="lengthUnitInput"
            placeholder="Select Unit"
          >
            <mat-option value="mm">mm</mat-option>
            <mat-option value="cm">cm</mat-option>
            <mat-option value="m">m</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Breadth -->
    <div class="flex flex-col w-1/3">
      <label for="breadthInput" class="block text-sm font-medium text-gray-400">
        Breadth
      </label>
      <div class="flex flex-row gap-2">
        <mat-form-field class="w-2/3" appearance="outline">
          <input
            matInput
            id="breadthInput"
            type="number"
            placeholder="Breadth"
            [(ngModel)]="material.dimensions!.breadth.value"
            name="breadthInput"
          />
        </mat-form-field>
        <mat-form-field class="w-1/3" appearance="outline">
          <mat-select
            [(ngModel)]="material.dimensions!.breadth.unit"
            name="breadthUnitInput"
            placeholder="Select Unit"
          >
            <mat-option value="mm">mm</mat-option>
            <mat-option value="cm">cm</mat-option>
            <mat-option value="m">m</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Height -->
    <div class="flex flex-col w-1/3">
      <label for="heightInput" class="block text-sm font-medium text-gray-400">
        Height
      </label>
      <div class="flex flex-row gap-2">
        <mat-form-field class="w-2/3" appearance="outline">
          <input
            matInput
            id="heightInput"
            type="number"
            placeholder="Height"
            [(ngModel)]="material.dimensions!.height.value"
            name="heightInput"
          />
        </mat-form-field>
        <mat-form-field class="w-1/3" appearance="outline">
          <mat-select
            [(ngModel)]="material.dimensions!.height.unit"
            name="heightUnitInput"
            placeholder="Select Unit"
          >
            <mat-option value="mm">mm</mat-option>
            <mat-option value="cm">cm</mat-option>
            <mat-option value="m">m</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <h2 class="text-xl my-2">Suppliers</h2>
  <mat-form-field class="w-full" appearance="outline">
    <mat-select
      [(ngModel)]="material.suppliers"
      multiple
      placeholder="Select Suppliers"
      [compareWith]="supplierCompareFunction"
    >
      @for (supplier of supplierOptions; track supplier.id) {
      <mat-option [value]="supplier">{{ supplier.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<div class="w-full flex flex-row items-center justify-center my-10">
  <div class="flex items-center gap-2">
    <button mat-stroked-button routerLink="/materials">
      <mat-icon>close</mat-icon>
      Cancel
    </button>
    <button
      mat-flat-button
      (click)="submit()"
      [disabled]="
        partNameInput.invalid ||
        materialInput.invalid ||
        manufacturingMethodInput.invalid ||
        weightInput.invalid
      "
    >
      <mat-icon>check_circle_outline</mat-icon>
      {{ material.id ? "Update" : "Create" }} Material
    </button>
  </div>
</div>
