<div class="w-full p-5">
  <div class="w-full flex flex-row items-center justify-between">
    <app-header
      [title]="material.partName"
      [subTitle]="'ID: ' + material.id"
    ></app-header>
    <div class="flex items-center gap-2">
      <button
        mat-fab
        color="secondary"
        extended
        [routerLink]="'/material/edit' + material.id"
      >
        <mat-icon>edit</mat-icon>
        Edit Material
      </button>
      <button mat-fab color="danger" extended (click)="deleteMaterial()">
        <mat-icon>delete</mat-icon>
        Delete Material
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>

  <!-- Material Details Section -->
  <div class="w-full flex flex-col gap-5 my-5">
    <mat-card appearance="outlined" class="p-4 shadow-md">
      <div class="flex flex-col gap-1">
        <div class="text-lg font-semibold">Material Details</div>
        <mat-divider></mat-divider>

        <!-- Material Information -->
        <div class="text-md">
          <span class="font-semibold">Material:</span> {{ material.material }}
        </div>
        <div class="text-md">
          <span class="font-semibold">Manufacturing Method:</span>
          {{ material.manufacturingMethod }}
        </div>

        <!-- Material Dimensions (if available) -->
        <div *ngIf="material.dimensions" class="text-md">
          <span class="font-semibold">Dimensions:</span>
          {{ material.dimensions.length }} x {{ material.dimensions.breadth }} x
          {{ material.dimensions.height }}
        </div>

        <!-- Material Weight -->
        <div class="text-md">
          <span class="font-semibold">Weight:</span> {{ material.weight }}
        </div>
      </div>
    </mat-card>

    <!-- Supplier Details Section -->
    <mat-card appearance="outlined" class="p-4 shadow-md">
      <div class="flex flex-col gap-1">
        <div class="text-lg font-semibold">Suppliers</div>
        <mat-divider></mat-divider>

        <!-- Supplier List -->
        <div
          *ngIf="
            material.suppliers && material.suppliers.length > 0;
            else noSuppliers
          "
          class="text-md"
        >
          <mat-list role="list">
            @for (supplier of material.suppliers; track $index) {
            <mat-list-item role="listitem">{{ supplier?.name }}</mat-list-item>
            }
          </mat-list>
        </div>
        <ng-template #noSuppliers>
          <div class="text-md text-gray-500">No suppliers available</div>
        </ng-template>
      </div>
    </mat-card>
  </div>
</div>
