<div class="w-full p-2">
  @if (isMobile$|async) {
  <div class="w-full flex flex-col gap-1 my-5">
    <h1 class="text-3xl text-center w-full">
      {{ material!.partName }}
    </h1>
    <div class="text-md text-gray-200 text-center w-full">
      ID: {{ material!.id }}
    </div>
  </div>
  } @else {
  <div class="w-full flex flex-row items-center justify-between">
    <app-header
      [title]="material.partName"
      [subTitle]="'ID: ' + material.id"
    ></app-header>
    <div class="flex items-center gap-2">
      <button
        mat-stroked-button
        color="secondary"
        [routerLink]="'/materials/edit/' + material.id"
      >
        <mat-icon>edit</mat-icon>
        Edit Material
      </button>
      <button mat-stroked-button color="warn" (click)="deleteMaterial()">
        <mat-icon>delete</mat-icon>
        Delete Material
      </button>
    </div>
  </div>
  }

  <mat-divider></mat-divider>

  <div class="w-full flex flex-col gap-5 my-5">
    <!-- Material Details Section -->
    <mat-card appearance="outlined" class="p-4 shadow-md">
      <div class="flex flex-col md:flex-row md:gap-10">
        <div class="flex flex-col gap-1 w-full md:w-1/2">
          <div class="text-lg font-semibold">Material Details</div>
          <mat-divider></mat-divider>

          <div class="text-md">
            <span class="font-semibold">Material:</span> {{ material.material }}
          </div>
          <div class="text-md">
            <span class="font-semibold">Manufacturing Method:</span>
            {{ material.manufacturingMethod }}
          </div>

          @if (material.dimensions) {
          <div class="text-md">
            <span class="font-semibold">Dimensions:</span>
            {{ material.dimensions.length!.value | number }}
            {{ material.dimensions.length!.unit }} x
            {{ material.dimensions.breadth!.value | number }}
            {{ material.dimensions.breadth!.unit }} x
            {{ material.dimensions.height!.value | number }}
            {{ material.dimensions.height!.unit }}
          </div>
          }

          <div class="text-md">
            <span class="font-semibold">Weight:</span>
            {{ material.weight!.value | number }}
            {{ material.weight!.unit }}
          </div>
        </div>
      </div>
    </mat-card>

    <!-- Images -->
    @if (material.images?.length) {
    <mat-card appearance="outlined" class="p-4 shadow-md">
      <div class="flex flex-col gap-1">
        <div class="text-lg font-semibold">Images</div>
        <mat-divider></mat-divider>

        <div
          class="w-full grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4"
        >
          @for (item of material.images; track $index) {
          <div class="media-card">
            @if (item.type.startsWith('image/')) {
            <img mat-card-image [src]="item.url" class="responsive-img" />
            } @else {
            <div class="pdf-icon-container">
              <mat-icon class="file-icon">picture_as_pdf</mat-icon>
            </div>
            }

            <div class="overlay">
              <a mat-button [href]="item.url" target="_blank">
                <mat-icon>visibility</mat-icon>
              </a>
            </div>
          </div>
          }
        </div>
      </div>
    </mat-card>
    }

    <!-- Drawings -->
    @if (material.drawings?.length) {
    <mat-card appearance="outlined" class="p-4 shadow-md">
      <div class="flex flex-col gap-1">
        <div class="text-lg font-semibold">Drawings</div>
        <mat-divider></mat-divider>

        <div
          class="w-full grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4"
        >
          @for (item of material.drawings; track $index) {
          <div class="media-card">
            @if (item.type.startsWith('image/')) {
            <img mat-card-image [src]="item.url" class="responsive-img" />
            } @else {
            <div class="pdf-icon-container">
              <mat-icon class="file-icon">picture_as_pdf</mat-icon>
            </div>
            }

            <div class="overlay">
              <a mat-button [href]="item.url" target="_blank">
                <mat-icon>visibility</mat-icon>
              </a>
            </div>
          </div>
          }
        </div>
      </div>
    </mat-card>
    }

    <!-- Data Sheets and Other Documents -->
    @if (material.dataSheets?.length) {
    <mat-card appearance="outlined" class="p-4 shadow-md">
      <div class="flex flex-col gap-1">
        <div class="text-lg font-semibold">Data Sheets and Other Documents</div>
        <mat-divider></mat-divider>

        <div
          class="w-full grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4"
        >
          @for (item of material.dataSheets; track $index) {
          <div class="media-card">
            @if (item.type.startsWith('image/')) {
            <img mat-card-image [src]="item.url" class="responsive-img" />
            } @else {
            <div class="pdf-icon-container">
              <mat-icon class="file-icon">picture_as_pdf</mat-icon>
            </div>
            }

            <div class="overlay">
              <a mat-button [href]="item.url" target="_blank">
                <mat-icon>visibility</mat-icon>
              </a>
            </div>
          </div>
          }
        </div>
      </div>
    </mat-card>
    }

    <!-- Supplier Details Section -->
    <mat-card appearance="outlined" class="p-4 shadow-md">
      <div class="flex flex-col gap-1">
        <div class="text-lg font-semibold">Suppliers</div>
        <mat-divider></mat-divider>

        @if (material.suppliers && material.suppliers.length > 0) {
        <div class="text-md">
          <mat-list role="list">
            @for (supplier of material.suppliers; track $index) {
            <mat-list-item role="listitem">
              <a
                mat-button
                [href]="'/suppliers/view/' + supplier.id"
                target="_blank"
                class="flex items-center gap-2"
              >
                <mat-icon>store</mat-icon>
                {{ supplier?.name }}
              </a>
            </mat-list-item>
            }
          </mat-list>
        </div>
        } @else {
        <div class="text-md text-gray-500">No suppliers available</div>
        }
      </div>
    </mat-card>
  </div>
</div>
